body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-style: none;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}
.container{
    display: flex;
    justify-content:space-between
}
.logo{
    font-size: 40px;
    font-weight: 900;
    font-family: roboto;
    margin-top: 50px;
    margin-left: 30px;
}
.menu{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-right: 50px;
    font-family: roboto;
    color: black;
    font-weight: 900;
    margin-top: 60px;
    
    
}

.menu a{
    text-decoration: none;
    color: black;
    
}

    
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.car img{
    width: 650px ;
}
.anun1{
    margin-right: 50px;
    font-size: 64px;
    font-family: roboto;
    font-weight: 900;
    background-color: #39040B;
    padding: 0 30px 0 30px ;
    margin: 10px 40px 10px 0;
    border-radius: 40px;
    color: white;
}

.anun2{
    display: flex;
    justify-content: space-around;
}

.anun2 p{
    font-family: roboto;
    font-weight: 900;
    width: 350px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
    

    
}
.anun2 .p1, .p3{
    background-color: #921122;
}
.anun2 .p2{
    background-color: #241B1C;
}
@media only screen and (max-width:768px){

    .container{
        position: fixed;
        gap: 100px;
        
    }
    .container2{
        flex-direction: column;
        
    }
    .car .img{
        width: 400px;
        margin-top: 100px;
        

    }
    .anun1{
        justify-content: center;
        width: 300px;
        
        margin-bottom: 30px;
    }

    .anun1 p{
        font-size: 30px;

    }

    .anun2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        
    }
    
}
@media only screen and (max-width:320px){

    .container{
        display: block;
        background-color: #39040B;
        color: white;
    }
    .logo{
        font-size: 20px;
        margin-top: 10px;
        text-align: center;
    }
    .menu{
        gap: 10px;
        text-align: center;
        margin-left: 50px;
        
        
    }
    .menu a{
        color: white;
    }
    .container2{
        flex-direction: column;
        
        
    }
    .car .img{
        width: 300px;
        margin-top: 140px;
        

    }
    .anun1{
        justify-content: center;
        width: 200px;
        
        margin-bottom: 80px;
    }

    .anun1 p{
        font-size: 30px;

    }

    .anun2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
    .anun2 p{
        width: 240px;
    }
    
}
